
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  padding: 0%;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  
}
h1{
  font-weight: 500;
  color: white;
  font-size: 70px;
}


.card-text{
  color: white;
}
.navbar{
  background-color: #0077b6;
}
footer{
  background-color: #0077b6;
}
h4,h5{
  color: black;
  font-weight: 600;
}
.welcome {
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.welcome{

}




